/* Global Selectors */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Montserrat, sans-serif;
}
.gap1 {
    gap: 1rem;
}
body{
    background-color: white;
    max-width: 1920px;
    margin: auto;
}
/* :root {
    --lightblue: #42b7ca;
    --blue: #425fca;
    --purple: #9c42ca;
    --pink: #d96c89;
    --pink2: #f1d3ff;
} */

p {
    line-height: 1.5;
    color: #222;
}

.pt-05 {
    padding-top: 0.5em;
}
*,
*::after *::before {
    box-sizing: inherit;
    outline: inherit;
}

.pt-05 {
    padding-top: 0.5em;
}
.pb-05 {
    padding-bottom: 0.5em;
}
.p-05 {
    padding: 0.5em 0;
}
.m-1 {
    margin: 1em 0;
}
.mt-1 {
    margin-top: 1em;
}
.mb-1 {
    margin-bottom: 1em;
}
.text-center {
    text-align: center;
}

.heading-1 {
    font-size: 1.25rem;
}
.heading-2 {
    font-size: 1.5rem;
}
.heading-3 {
    font-size: 1.75rem;
}
.heading-3 {
    font-size: 1.75rem;
}
.heading-4 {
    font-size: 2rem;
}

.btn {
    text-decoration: none;
}
.btn-1 {
    padding: 0.5rem 5rem;
    line-height: 2rem;
    border-radius: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* Global Selectors */

header {
    display: flex;
}

.header-inside{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.about-overlay{
    margin: auto;
}
.bigrafi-about{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.bigrafi-title{
    color:#EA5556;
    margin-left: 1em;
    font-size: 3em;
}
.bigrafi-text{
    width: auto;
    line-height: 1.5em;
    font-size: 1.5rem;
}
.dots{
    letter-spacing: 2px;
    font-weight: bolder;
    color: #eb5655;
}
.profile-image {
    z-index: 1;
    width: 100%;
}
.navbar{
    justify-content: flex-end;
}
.navbar-inside{
    /* position: absolute;
    right: 6.375rem;
    top: 3rem; */
    margin-top: 3.6rem;
    margin-left: auto;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}
.navbar li {
    line-height: 1.5rem;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
}

.socials {
    display: flex;
    justify-content: right;

}
.socials a {
    font-size: 1.35rem;
}

.links {
    text-align: center;
    justify-content: flex-end;
	position: relative;
    margin-right: 1em;
}
	
.links > li {
	display:inline-block;
}

.links a {
	display:block;
	color:#FFF;
	font-size:20px;
    padding: 0 .25em;
	line-height: 2em;
	text-decoration:none;
}


/* Hide Dropdowns by Default */
.links ul {
    display: none;
    position: absolute;
}
/* Display Dropdowns on Hover */
.links li:hover > ul {
	display:block;
}

.links li:hover li{
	background-color: #ececec;
}
.links li:hover > a {
	color: #eb5655;
}
/* Fisrt Tier Dropdown */
.links ul li {
	width:200px;
}

/* Second, Third and more Tiers	*/
.links li ul ul  {
	position: absolute;
    top: 0px;
	right:200px;
}

.toggle-btn {
    display: none;
}
.sidebar {
    display: none;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.98);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
}
.overlay-content {
    position: relative;
    text-align: center;
    margin: auto;
}
.overlay-content:first-child {
    display: flex;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.start::after {
    content: "<p>";
}
.end::after {
    content: "</p>";
}
.end:hover,
.start:hover {
    color: #222;
}
.end,
.start {
    font-weight: 300;
    color: #f39999;
    z-index: 0;
    transition: 0.5s;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

.my-sec {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.my-sec h2 {
    font-weight: 900;
    color: #fff;
    padding: 0.5rem;
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 2px;
}

.section {
    padding: 4rem 0rem;
    flex-wrap: wrap;
}
.section-half {
    padding: 2.5rem 0rem;
}
.middle-line {
    background-color: #fff;
    width: 1px;
    /* left: 50%; */
}
.service-text {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}
.section-center {
    margin: auto;
    text-align: center;
    max-width: 280px;
}
/* Bigrafi Kimdir */
.hr{
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    padding-right: 20%;
}
.section3 hr{
    border: 1px solid #fff;
    width: 25%;
}
.section3 {
    background-color: #eb5655;
}
.section3 .services-grid .service a{
    display: inline-block;
}
.container-f {
    max-width: 1700px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card-wrapper {
    height: 380px;
    width: 250px;
    position: relative;
}

.card {
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 350px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.card-image {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.card .card-image {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #ddd9d4;
    transition: 0.5s;
}
.card .card-image img {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}
.card:hover img {
    opacity: 0.4;
    transition: 0.5s;
}

.card:hover .card-image {
    transform: translateY(-100px);
    transition: all 0.9s;
}
.card:hover .stat {
    display: none;
}
.name {
    margin-top: 1rem;
}
.stat {
    text-align: center;
    position: absolute;
}
.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.social-icons-per {
    display: none;
}
.social-icons li {
    list-style: none;
}
.social-icons li a {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(200px);
    opacity: 0;
}
.contact {
    display: flex;
    justify-content: center;
}
.card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
}
.social-icons li a:hover {
    background: #000;
    transition: 0.2s;
}
.social-icons li a:hover .fab {
    color: #fff;
}
.social-icons li a:hover .fa-regular {
    color: #fff;
}
.social-icons li a .fab {
    transition: 0.8s;
}
.social-icons li a .fa-regular {
    transition: 0.8s;
}
.social-icons li a .fab:hover{
    transform: rotateY(360deg);
    color: #fff;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
.social-icons li a .fa-regular:hover{
    transform: rotateY(360deg);
    color: #fff;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
.social-icons li a .fa-regular:hover {
    transform: rotateY(360deg);
    font-size: #fff;
}
.card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
    transition-delay: 0.4s;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
}
.details h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}
.details h2 .job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

.per {
    position: absolute;
    bottom: -120px;
    left: 0;
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 3;
    transition: 0.4s;
}

.profile .social-icons li a {
    border-radius: 50%;
}

.card:hover .per {
    bottom: 0;
    left: 0;
    transition-delay: 0.1s;
    opacity: 1;
}
.job {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}
.section4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.section4 h2{
    color: #222;
    font-size: 2.5em;
}
.sec4 p{
    color: #333;
}
.p-content {
    display: none;
    margin: 1em;
    gap: 1em;
}
.section5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.portfolio {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.portfolio-header{
    text-align: center;
}
.portfolio-header a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.portfolio-header a:first-child:hover{
    color: #42b7ca;
    text-decoration: underline;
}
.portfolio-header a:last-child:hover{
    color: #425fca;
    text-decoration: underline;
}
.cta p{
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}

.service a {
    color: #5b7abb;
    display: inline-block;
}

.service h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
}

.services-grid {
    --repeat-num: 1;
    display: grid;
    grid-template-columns: 
  repeat(var(--repeat-num), 1fr);
    padding: 0
}

.services-grid2 {
    --repeat-num: 1;
    display: grid;
    grid-template-columns: 
  repeat(var(--repeat-num), 1fr);
    padding: 1rem
}
/* servis */
.service {
    background: #fff;
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service .i-2rem {
    margin: 1rem 0;
    font-size: 3rem;
}
.service h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem 0;
}
.service p {
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
    color: #333;
}
.service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
    font-size: 1rem;
}

.service1 i,
.service1 h4,
.service1 .cta {
    color: #42b7ca;
}

.service1:hover {
    border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
    color: #425fca;
}

.service2:hover {
    border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
    color: #9c42ca;
}

.service3:hover {
    border: 2px solid #9c42ca;
}

.service > * {
    flex: 1 1 100%;
    text-align: center;
}

.service .cta {
    align-self: flex-end;
    margin-bottom: 0;
}
.service .cta {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.footer-socials .instagram {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-socials .facebook {
    color: #4267b2;
}
/* transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; */
.btn-primary {
    letter-spacing: 2px;
    line-height: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 5rem;
    background: #fff;
    color: #eb5655;
    box-sizing: border-box;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 1px solid #f7bbbb;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 100%;
}
.btn-primary:hover {
    color: #eb5655;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px 40px #f7bbbb inset;
    border: 1px solid #fff;
}
.copyright {
    background-color: #fff;
    text-align: right;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

.portfolio-wrapper a {
    border: 1px solid #eee;
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s;
}
.p-4 a {
    height: 20rem;
}
.portfolio-body {
    /*background-image: linear-gradient(to bottom, #ea5556, #f77f9e, #e088ba, #f0c1c5, #ffffff);
  background-repeat: no-repeat;*/
    font-family: "Montserrat", sans-serif;
}
.container-p {
    padding: 0 5em;
}
.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
}

.portfolio-wrapper i {
    transition: 0.5 ease-in-out;
}
.portfolio-wrapper a i {
    /*color: rgba(255, 255, 255, .6);*/
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1em;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.5s;
}
.portfolio-wrapper a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
}
.portfolio-wrapper a:hover i,
.portfolio-wrapper a:hover::before {
    opacity: 1;
}

.p-my-sec {
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: inline-block;
}

.p-my-sec h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    padding: 0.5rem;
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 2px;
    font-family: "Roboto Condensed", sans-serif;
}




@media only screen and (max-width: 1366px) {
    .bigrafi-text{
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 35rem) {
    .services-grid {
      --repeat-num: 2;
    }
    
    
  }
  
  @media screen and (min-width: 75rem) {
    .services-grid {
      --repeat-num: 4;
    }
    
    .services-grid2 {
        --repeat-num: 3;
    }
  }
@media only screen and (max-width: 925px) {
.header-inside{
    display: flex;
    justify-content: center;
}
.bigrafi-text{
    font-size: 1.25rem;
}
.navbar {
    display: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.socials {
    display: flex;
    justify-content: right;
}
.socials a {
    font-size: 1.35rem;
}
.links a {
	display:block;
	color:#FFF;
	font-size:20px;
    padding: 0 .25em;
	line-height: 2em;
	text-decoration:none;
}

.services-grid {
    padding: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.toggle-btn {
    position: absolute;
    display: block;
    right: 5rem;
    top: 2rem;
    font-size: 2rem;
}
.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay a {
    font-size: 20px;
}
.overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}
.sidebar .toggle-btn {
    font-size: 2rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
}
.sidebar .toggle-btn:hover {
    cursor: pointer;
}
.sidebar-inside {
    display: none;
}
.sidebar-inside img {
    display: flex;
    align-self: center;
}
.sidebar .links {
    display: none;
}
.toggle-btn {
    z-index: 1;
}
.links {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
    gap: 1rem;
}

.portfolio-box{
    margin-top: 5em;
}

.portfolio-box li{
    list-style-type: none;
}
.portfolio-box li a{
    font-size: 2em;
    color: #eb5655;
}
.portfolio-box ul li a{
    color: #eb5655;
    font-size: 1.5em;
}
.portfolio-box ul ul li a {
    font-size: 1.25em;
    color: #eee;
}

hr{
    width: 50%;
    margin: 0 auto 1em auto;
}

    .overlay-content .links li a {
        font-size: 1.25rem;
    }
    .overlay-content .socials a {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 900px) {
    .overlay {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .bigrafi-text{
        font-size: .9rem;
    }
    header{
        background: #fff url("/img/bigrafi_965.png");
        background-position: -10rem center ;
        background-repeat: no-repeat;
        background-size: cover;  
    }
    .header-inside{
        width: auto;
        height: 400px;
    }
    .bigrafi-about{
        opacity: .93;
        background: rgb(17, 16, 16);
        margin: 1rem;
        width: 450px;
    }
    .deactive{
        display: none;
    }
    .bigrafi-title{
        line-height: 1.5em;
        margin-left: 3rem;
    }
    .bigrafi-text{
        margin: 1rem;
        color: #fff;
        width: 400px;
    }
    .dots{
        padding: 0 1rem 1rem 0;
        text-align: right;
    }
}
@media screen and (max-width: 600px) {
    header{
        flex-wrap: wrap;
    }
    .profile-image{
        width: 100%;
    }
    .toggle-btn{
        font-size: 1.5rem;

    }
    header span{
        width: 100%;
    }
    .portfolio-wrapper a {
        height: 20rem;
    }
    .portfolio-wrapper a i {
        padding: 0.5em;
        font-size: 1.5rem;
    }
    .p-double a {
        height: 15rem;
    }

    .p-double a i {
        font-size: 3rem;
        padding: 1em;
    }
    .p-4 a {
        height: 10rem;
    }
    .p-4 a i {
        font-size: 1.5rem;
        padding: 1em;
    }
}
